:root {
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
    font-family: "Inter";
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("images/pattern-curve.svg") no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
}

.carousel {
    background: url("images/pattern-bg.svg") no-repeat;
    background-position: 100% 25%;
    background-size: contain;
    height: 100vh;

    @media screen and (min-width: 768px) {
        background-position: 100% 50%;
        background-size: 50%;
    }
}

.btn-group {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background-color: white;
    filter:drop-shadow(0px 10px 15px hsla(240, 21%, 38%, 0.753));
}

.carousel_button {
    width: 40px;
    
}

.carousel-control-prev-icon {
    background-image: url("images/icon-prev.svg");
    height: 12px;
    width: 10px;
}

.carousel-control-next-icon {
    background-image: url("images/icon-next.svg");
    height: 12px;
    width: 10px;
}

img {
    width: 75%;
    filter: drop-shadow(0px 10px 15px hsla(240, 21%, 38%, 0.753));

    @media screen and (min-width: 768px) {
        width: 40%;
    }
}

.quote {
    height: 20lh;
    padding: 1rem;

    background-image: url("images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;

    @media screen and (min-width: 768px) {
        background-position: 10% 0%;
    }
}

blockquote {
    font-weight: 300;
    font-family: "Inter", sans-serif;

    @media screen and (min-width: 768px) {
        font-size: 32px;
    }
}

.violet_text {
    font-weight: 700;
    color: var(--DarkBlue);
}

.grey_text {
    font-weight: 500;
    color: var(--GrayishBlue);
    margin-top: -0.7lh;

    @media screen and (min-width: 768px) {
        margin: 0;
    }
}

.anchor {
    anchor-name: --my-anchor;
    top: 10rem;
}
  
.target {
    position-anchor: --my-anchor;
    position: absolute;
    position-area: bottom span-all;

    @media screen and (min-width: 768px) {
        position-area: block-end span-inline-end;
    }
}
